

html{
    scroll-behavior: smooth;
}
section[class^="container"]{
    padding: 4rem 2rem;
}
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .fade-in.fade-in-visible {
    opacity: 1;
    transform: translateY(0);
  }
.footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
  }
  .footer a {
    color: #ffffff;
  }
  .footer a:hover {
    text-decoration: none;
    color: #ffc107;
  }
.bg{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/products/bgPD.jpeg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    padding-top: 20%;
}
p{
    text-align: justify;
}
body{
    font-family:'Times New Roman', Times, serif;
    background-color: #DAFFFC;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}
.container {
    text-align: center; /* Center the content horizontally */
    padding-top: 40px;
    padding-bottom: 40px;
}
img{
    border-radius: 10px;

}
.notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    display: none;
}

.card{
    grid-column: span 4;
    margin-bottom: 60px;
    transition: 300ms;
    cursor: pointer;
    border: solid black;
}

.card:hover{
    transform: scale(1.03);
}


.img-container {
    overflow: hidden;
    height: 200px; /* Adjust as needed */
  }
  
  .img-container img {
    width: 100%;
    height: auto;
  }
  
  .btn-buy {
    display: block;
    margin-top: 10px;
    text-align: center;
  }
  
  .btn-buy:hover {
    background-color: gold;
    border-color: gold;
    color: black;
  }

  

@media (max-width: 576px) {
    .product-card {
        max-width: 100%; 
    }
}



h1 {
    color: #007bff;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}


/* NavBar to Repa */

.navbar {
    background-color: whitesmoke; 
}

.navbar-nav .nav-link {
    color: black;
    font-size: 1.1rem; 
}

.navbar-nav .nav-item {
    padding: 0 1rem;
}

.navbar .navbar-nav .nav-item{
    position: relative;
}

.navbar .navbar-nav .nav-item::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: black;
    width: 0%;
    height: 4px;
    transition: 500ms;
}

.navbar .navbar-nav .nav-item:hover:after{
    width: 100%;
}

/*Hero to Repa*/

section.hero4{
    background-color: #F6FDC3;
    padding-top: 72px;
    text-align: justify;
  
}

section.hero4 h1{
text-align: center;
  
}
.hero4 .col-sm-12 {
    text-align: center;
  }


  .hero4 .col-sm-6 {
    margin-bottom: 15px;
  }
  

section.hero2{
    background-color: #F5DAD2;
    padding-top: 72px;
    text-align: justify;
}
section.hero3{
    background-color: #756AB6;
    padding-top: 72px;
    text-align: justify;
}

.hero2 .col-sm-6 {
    margin-bottom: 30px; 
  }
  .hero3 .col-sm-12 {
    text-align: center;
  }

.hero2 h1 {
    margin-bottom: 30px; 
    text-align: center;
}

section.hero{
    background-color: #ffdfc0;
    padding-top: 72px;
    text-align: justify;
}

section.hero1{
    background-color: #BED7DC;
    padding-top: 72px;
    text-align: justify;
}
section.hero1 img {
   width: 50px;
   display: block;
   margin: 0 auto; /* Set margin to auto to center horizontally */
}



section.hero img{
    background-color: #ffdfc0;
    padding-top: 52px;
}



/*Card to Repa */
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;

}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    width: calc(33.33% - 20px); 
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: justify;
}

.form-label {
    margin-bottom: 5px;
}

.form-control {
    margin-bottom: 10px;
}

.btn-primary {
    margin-top: auto; 
}




/*timeline eto Repa*/
.timeline{
    margin: 5em auto;
    max-width: 34.15em;
  }
  .checkpoint{
      text-align: center;
      color: white;
      max-width: 34em;
      padding-top: 2em;
      padding-bottom: 2em;
      padding: relative;
  }
  .checkpoint div{
      border: 2px solid #888;
      border-radius: 1em;
      padding: 1.5em;
  }
  .checkpoint p {
      line-height: 27px;
      color: #ccc;
  }
  .checkpoint:nth-child(odd){
      border-left: 3px solid #888;
      padding-left: 3em;
      transform: translate(17em);
  }
  .checkpoint:nth-child(even){
      border-right: 3px solid #888;
      padding-right: 3em;
      transform: translate(-17em);
  }
  
  .checkpoint:nth-child(odd)::before,
  .checkpoint:nth-child(even)::before {
      content: '';
      background: #888;
      width: 3em;
      height: 3px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
  }
  
  .checkpoint:nth-child(odd) div ::before,
  .checkpoint:nth-child(even) div ::before{
      content: '';
      background: #fff;
      box-shadow: 0 0 0.5em #0d71fc;
      width: 0.8em;
      height: 0.8em;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
  }
  
  .checkpoint:nth-child(odd)::before{
      left: 0;
  }
  .checkpoint:nth-child(even)::before{
      right: 0;
  }
  
  .checkpoint:nth-child(odd) div ::before{
      left: -0.5em;
  }
  .checkpoint:nth-child(even) div ::before{
      right: -0.5em;
  }
  
  

@media screen and (min-width:1024px) {
    section[class^="container"]{
        padding: 4rem 2rem;
    }

    nav [class^="container"]{
        padding: 0 4rem;
        color: white;

    }
  
    
    
}
@media screen and (max-width:960px) {
    .timeline{
        grid-column: 1 / span 12;
    }
    .timeline .checkpoint{
        grid-column: 1 / span 12;
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }
    .timeline .checkpoint::before{
        grid-column: 1 / span 12;
      
    }
    .timeline .checkpoint div ::before{
        grid-column: 1 / span 12;
      
    }


}
@media screen and (max-width: 576px) {
    .navbar-nav .nav-item{
        padding: 0 1rem;
    }
    section.hero{
        text-align: center;
    }
    section.hero img{
        width: 70%;
    }
    section.hero1{
        text-align: center;
    }
  
    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 15px;
            text-align: center;
      }
}
    
    
    

